{% extends 'default.html' %}

{% block content %}
  <h1>Notifications</h1>
  <div class="notification-list">
    {% for notification in notifications %}
      {{ notification.render }}
    {% endfor %}
  </div>
{% endblock %}
